/*Global CSS*/
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(15, 15, 15);
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3rem;
}

p {
  font-size: 2.5rem;
}

li {
  font-size: 2rem;
}

hr {
  border-color: rgba(255, 255, 255, 0.8);
}

/*Navigation Bar*/
.navbar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.navbar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.navbar a:hover {
  color: #f1f1f1;
}

.navbar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.burger {
  font-size: 30px;
  cursor: pointer;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 5px;
}

.logo {
  display: inline;
  padding: 1rem;
  border-radius: 5px;
  background-color: rgb(165, 165, 165);
}

@media screen and (max-height: 450px) {
  .navbar {
    padding-top: 15px;
  }
  .navbar a {
    font-size: 18px;
  }
}

/* Contact Page*/
.middle-container {
  background-color: rgb(0, 0, 0);
  background: url("../assets/img/map.png");
  background-repeat: no-repeat;
  background-position: top;
  height: 65%;
  width: 100%;
}

.contact-title {
  float: left;
  font-size: 4rem;
  padding: 4rem;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.contact-title h1 span {
  padding: 1.2rem;
  background-color: rgb(20, 20, 20);
  opacity: 95%;
  border-radius: 1rem;
}

.form-container {
  float: left;
}

.contact-form {
  margin-left: auto;
  margin-right: auto;
  right: 20%;
  max-width: 32rem;
  height: 42rem;
  background: white;
  border-radius: 0.5rem;
  padding: 2rem 3rem;
}

.feedback-title {
  font: 1.5rem Oswald, Arial, sans-serif;
  margin: 1rem 0;
  color: black;
}

.contact-input {
  width: 100%;
  padding: 5rem 0 1rem 0;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 0.2rem solid #303030;
}

.contact-input:focus {
  border-bottom: 0.2rem solid #78788c;
}

p:before {
  content: attr(type);
  display: block;
  margin: 2.8rem 0 0;
  font-size: 1.4rem;
  color: #5a5a5a;
}

.send-button {
  background-color: black;
  border: none;
  color: white;
  padding: 1.5rem 3.2rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  margin: 4rem 0;
  cursor: pointer;
  border-radius: 0.5rem;
  float: right;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
}

.send-button:hover {
  background: #333333;
  color: #fff;
}

.footer {
  text-align: center;
  color: rgb(117, 117, 117);
}

.footer h3 {
  font-size: 1.5rem;
}

.footer p {
  font-size: 1.2rem;
}

.footer-address {
  float: left;
  padding: 2rem 4rem;
}

.footer-contact {
  float: left;
  padding: 2rem 4rem;
}

.footer-social {
  float: left;
  padding: 2rem 4rem;
}

.fab {
  padding: 1rem 0.5rem;
  font-size: 2.5rem;
}

.fab:hover {
  opacity: 0.7;
}

/* About us Page */
.about-section {
  padding: 50px;
  text-align: center;
  background-color: #3a455e;
  color: white;
}

.about-section p,
.member p {
  font-size: 2rem;
}

.team-title {
  color: #fff;
  text-align: center;
  padding: 2rem;
}

.team-member img {
  border-radius: 1.6rem 1.6rem 0 0;
  width: 100%;
}

.team-member .col-4 {
  margin: 1rem 0;
}

.card {
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 2.5rem;
}

.member {
  padding: 0 1.2rem;
  text-align: center;
}

.member h3 {
  font-weight: 800;
  font-size: 2rem;
  padding: 1rem 0;
  text-align: center;
}

.member::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.member .fab {
  padding: 3rem 1rem;
  font-size: 3.5rem;
}
/*
buttons when needed
.button {
  border: none;
  border-radius: 1rem;
  outline: 0;
  display: inline-block;
  padding: 2rem;
  font-size: 2rem;
  max-width: 60%;
  color: white;
  background-color: #000;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  margin: 2rem;
  transition: all 0.3s;
}

.button:hover {
  background: #333333;
  color: #fff;
}
*/
[class*="col-"] {
  width: 100%;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    float: left;
    width: 8.33%;
  }
  .col-2 {
    float: left;
    width: 16.66%;
  }
  .col-3 {
    float: left;
    width: 25%;
  }
  .col-4 {
    float: left;
    width: 33.33%;
  }
  .col-5 {
    float: left;
    width: 41.66%;
  }
  .col-6 {
    float: left;
    width: 50%;
  }
  .col-7 {
    float: left;
    width: 58.33%;
  }
  .col-8 {
    float: left;
    width: 66.66%;
  }
  .col-9 {
    float: left;
    width: 75%;
  }
  .col-10 {
    float: left;
    width: 83.33%;
  }
  .col-11 {
    float: left;
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
