/*Global CSS*/
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(15, 15, 15);
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 8rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3rem;
}

p {
  font-size: 2.5rem;
}

li {
  font-size: 2rem;
}

hr {
  border-color: rgba(255, 255, 255, 0.8);
}

/*Navigation Bar*/

.header {
  overflow: hidden;
  background-blend-mode: #87cefa;
  padding: 10px 10px;
  position: relative;
}

.header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  background-color: rgb(165, 165, 165);
  color: black;
}

.header a:hover {
  background-color: rgb(212, 212, 212);
  color: black;
}

.header a.active {
  background-color: rgb(165, 165, 165);
  color: black;
}

.header-right {
  float: right;
  color: white;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

/*Slideshow*/
.mySlides {
  display: none;
}

.slide-image {
  width: 100%;
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: absolute;
  position: absolute;
  margin: auto;
  height: fit-content;
  overflow: hidden;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.slide-text {
  background-color: #303030;
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 20%;
  text-align: center;
}

.active:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* Contact Page*/
.middle-container {
  background-color: rgb(0, 0, 0);
  background: url("../assets/img/map.png");
  background-repeat: no-repeat;
  background-position: top;
  height: 65%;
  width: 100%;
}

.contact-title {
  float: left;
  font-size: 4rem;
  padding: 4rem;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.contact-title h1 span {
  padding: 1.2rem;
  background-color: rgb(20, 20, 20);
  opacity: 95%;
  border-radius: 1rem;
}

.form-container {
  float: left;
}

.contact-form {
  margin-left: auto;
  margin-right: auto;
  right: 20%;
  max-width: 32rem;
  height: 42rem;
  background: white;
  border-radius: 0.5rem;
  padding: 2rem 3rem;
}

.feedback-title {
  font: 1.5rem Oswald, Arial, sans-serif;
  margin: 1rem 0;
  color: black;
}

.contact-input {
  width: 100%;
  padding: 5rem 0 1rem 0;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 0.2rem solid #303030;
}

.contact-input:focus {
  border-bottom: 0.2rem solid #78788c;
}

p:before {
  content: attr(type);
  display: block;
  margin: 2.8rem 0 0;
  font-size: 1.4rem;
  color: #5a5a5a;
}

.send-button {
  background-color: black;
  border: none;
  color: white;
  padding: 1.5rem 3.2rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  margin: 4rem 0;
  cursor: pointer;
  border-radius: 0.5rem;
  float: right;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
}

.send-button:hover {
  background: #333333;
  color: #fff;
}

.footer {
  text-align: center;
  color: rgb(117, 117, 117);
}

.footer h3 {
  font-size: 1.5rem;
}

.footer p {
  font-size: 1.2rem;
}

.footer-address {
  float: left;
  padding: 2rem 4rem;
}

.footer-contact {
  float: left;
  padding: 2rem 4rem;
}

.footer-social {
  float: left;
  padding: 2rem 4rem;
}

.fab {
  padding: 1rem 0.5rem;
  font-size: 2.5rem;
}

.fab:hover {
  opacity: 0.7;
}

[class*="col-"] {
  width: 100%;
}

/* Media Queries */
@media only screen and (min-width: 600px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
